
@{
    ViewBag.Title = "Admission_Procedure";
}


<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/Admission/Admission-Procedure_Hand-Filling-Form.jpg" alt="" class="img-fluid" />
    <div class="container">
        <div class="Topic">
            @*<a href="#AdmissionProcedure" class="scrollto">
            <h4>Admission Procedure</h4>
            <p>
                In accordance with Mount Litera School International’s ‘Admissions Policy’, the admission process has been designed to be transparent which offers equal opportunity to all applicants.
            </p>
        </a>*@
            <h4>Admission Procedure</h4>
            <p>
                In accordance with Mount Litera School International’s ‘Admissions Policy’, the admission process has been designed to be transparent which offers equal opportunity to all applicants.
            </p>
        </div>
    </div>
</div>
<section>
    <div class="container" id="AdmissionProcedure">
        <p>
            Applications are evaluated on a regular basis to reflect changing global requirements. The following steps must be taken in order to be admitted to MLSI:
        </p>

        <div class="CircleTab">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Tour">
                        <img src="~/Images/Admission_Procedure/Tour.png" alt="" class="img" />
                        <img src="~/Images/Admission_Procedure/Tour_hover.png" alt="" class="imghover" />
                        <span>Tour</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Registration">
                        <img src="~/Images/Admission_Procedure/Registration.png" alt="" class="img" />
                        <img src="~/Images/Admission_Procedure/Registration_hover.png" alt="" class="imghover" />
                        <span>Registration</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Interaction">
                        <img src="~/Images/Admission_Procedure/Interaction.png" alt="" class="img" />
                        <img src="~/Images/Admission_Procedure/Interaction_hover.png" alt="" class="imghover" />
                        <span>Student Interaction</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Parent">
                        <img src="~/Images/Admission_Procedure/Parent.png" alt="" class="img" />
                        <img src="~/Images/Admission_Procedure/Parent_hover.png" alt="" class="imghover" />
                        <span>Parent</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#OfferLetter">
                        <img src="~/Images/Admission_Procedure/Offer-Letter.png" alt="" class="img" />
                        <img src="~/Images/Admission_Procedure/Offer-Letter_hover.png" alt="" class="imghover" />
                        <span>Offer Letter</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Fees">
                        <img src="~/Images/Admission_Procedure/Fees.png" alt="" class="img" />
                        <img src="~/Images/Admission_Procedure/Fees_hover.png" alt="" class="imghover" />
                        <span>Fees</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#WelcomeNote">
                        <img src="~/Images/Admission_Procedure/welcome-Note.png" alt="" class="img" />
                        <img src="~/Images/Admission_Procedure/welcome-Note_hover.png" alt="" class="imghover" />
                        <span>Welcome Note</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="Tour">
                    <p>
                        We are eager to welcome new families to the school and show you everything that MLSI has to offer. We are here to assist you with all aspects of the application process, and we take pride in our level of service and personalised attention. Please contact us to make an appointment for a tour.
                    </p>
                    Please keep in mind that the school tour is mandatory.
                </div>
                <div class="tab-pane fade" id="Registration">
                    <p>
                        You can sign up after your tour by paying the registration fee. Fill out the Registration form and attach the following documents:
                    </p>
                    <ul class="checklist">
                        <li>
                            One passport size photograph of the child.
                        </li>
                        <li>
                            Each parent must provide one passport-sized photograph.
                        </li>
                        <li>
                            A photocopy of the child's birth certificate that has been attested.
                        </li>
                        <li>
                            A photocopy of the child's proof of permanent and current residence must be attested. (Examples: Passport, Aadhar, etc.)
                        </li>
                        <li>
                            Copy of previous two years' school report cards, attested.
                        </li>
                        <li>
                            ID proof of both the parents.
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="Interaction">
                    After submission of the documents, the admissions team will set up an interview/test with your child.
                </div>
                <div class="tab-pane fade" id="Parent">
                    This is an opportunity for us to meet with parents, understand your family's educational goals for your child, and answer your questions before admission decisions are communicated. The school will send an admission confirmation email based on the parent interaction.
                </div>
                <div class="tab-pane fade" id="OfferLetter">
                    The admission decision will be conveyed to you via email.
                </div>
                <div class="tab-pane fade" id="Fees">
                    In order to formally accept this offer, you must pay the Admission Fee and Caution Money. Please collect and return the completed admission form within one week of receiving the admission offer.
                </div>
                <div class="tab-pane fade" id="WelcomeNote">
                    The admissions team will send an email verifying your admission.
                </div>
            </div>
        </div>

     

        @*<div class="InsideBlock" id="AdmissionProcedure">
                <div class="InsideBlockHeader">
                    Admission Procedure
                </div>
                <div class="InsideBlockBody">
                    <p>
                        The admission process has been designed for transparency and providing equal opportunity to all applicants in line with the ‘Admissions Policy’ of Mount Litera School International(MLSI). This is reviewed from time to time to incorporate changing global requirements. The steps that must be completed for admission at MLSI are as follows-
                    </p>
                    <ol>
                        <li>
                            <p class="strong black mb-1">Campus tour –</p> We are passionate about welcoming new families to the school and introducing you to what MLSI has to offer. We are here to help guide you through all aspects of the application process, and we take pride in our level of service and individualised assistance. Please call us to schedule an appointment for a tour.
                            Please note that the campus tour is mandatory.
                        </li>
                        <li>
                            <p class="strong black mb-1">
                                Registration process –
                            </p>
                            <p>
                                After your tour, you can register by paying the registration fee. Fill the form and submit the documents mentioned below:
                            </p>
                            <ul class="checklist mb-3">
                                <li>One passport size photograph of the child.<b></b></li>
                                <li>One passport size photograph of each parent.<b></b></li>
                                <li>Attested photocopy of the child‘s birth certificate.<b></b></li>
                                <li>Attested photocopy of the child‘s proof of permanent and current residence. (e.g. passport, Aadhar etc)<b></b></li>
                                <li>Attested copy of previous two years school reports.<b></b></li>
                            </ul>
                        </li>
                        <li>
                            <p class="strong black mb-1">Student interaction-</p> Following the document submission, the admissions team will set up an interaction with your child.
                        </li>
                        <li>
                            <p class="strong black mb-1">Parent Interaction –</p> This is a chance for us to meet with the parents, to understand the family goals for your child’s education and answer your queries before admission decisions are conveyed. Based on the parent interaction, the school will send a confirmation email regarding admission.
                        </li>
                        <li>
                            <p class="strong black mb-1">Issuance of offer letter –</p> We will email you the admission decision.
                        </li>
                        <li>
                            <p class="strong black mb-1">Payment of fees and collection & submission of Admission Form –</p> In order for you to formally accept this offer, you need to pay the Admission Fee, Caution Money. Please collect and submit duly filled admission form within a week after the admission offer is made.
                        </li>
                        <li>
                            <p class="strong black mb-1">Confirmation letter/ Welcome note –</p> The admission team will send a confirmation email regarding admission.
                        </li>
                    </ol>
                </div>
            </div>*@
    </div>
    @*<div class="container" id="AdmissionProcedure">
        <p>
            Applications are evaluated on a regular basis to reflect changing global requirements. The following steps must be taken in order to be admitted to MLSI:
        </p>
        <div class="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse1">
                        School Tour
                    </a>
                </div>
                <div id="collapse1" class="collapse show" data-parent=".accordion">
                    <div class="card-body">
                        <img src="~/Images/Admission_Procedure/Tour.png" alt="" />
                        <p>
                            We are eager to welcome new families to the school and show you everything that MLSI has to offer. We are here to assist you with all aspects of the application process, and we take pride in our level of service and personalised attention. Please contact us to make an appointment for a tour.
                        </p>
                        Please keep in mind that the school tour is mandatory.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">
                        Registration Process
                    </a>
                </div>
                <div id="collapse2" class="collapse" data-parent=".accordion">
                    <div class="card-body">
                        <img src="~/Images/Admission_Procedure/Registration.png" alt="" />
                        <p>
                            You can sign up after your tour by paying the registration fee. Fill out the admission for schools enquiry form and attach the following documents:
                        </p>
                        <ul class="checklist">
                            <li>
                                One passport size photograph of the child.
                            </li>
                            <li>
                                Each parent must provide one passport-sized photograph.
                            </li>
                            <li>
                                A photocopy of the child's birth certificate that has been attested.
                            </li>
                            <li>
                                A photocopy of the child's proof of permanent and current residence must be attested. (Examples: Passport, Aadhar, etc.)
                            </li>
                            <li>
                                Copy of previous two years' school report cards, attested.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">
                        Student Interaction
                    </a>
                </div>
                <div id="collapse3" class="collapse" data-parent=".accordion">
                    <div class="card-body">
                        <img src="~/Images/Admission_Procedure/Interaction.png" alt="" />
                        After the submission of the documents, the admissions team will set up an interview with your child.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                        Parent Interaction
                    </a>
                </div>
                <div id="collapse4" class="collapse" data-parent=".accordion">
                    <div class="card-body">
                        <img src="~/Images/Admission_Procedure/Parent.png" alt="" />
                        This is an opportunity for us to meet with parents, understand your family's educational goals for your child, and answer your questions before admission decisions are communicated. The school will send an admission confirmation email based on the parent interaction.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                        Issuance of offer letter
                    </a>
                </div>
                <div id="collapse5" class="collapse" data-parent=".accordion">
                    <div class="card-body">
                        <img src="~/Images/Admission_Procedure/Offer-Letter.png" alt="" />
                        The admission decision will be conveyed to you via email.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
                        Fee payment and collection and submission of Admission Form
                    </a>
                </div>
                <div id="collapse6" class="collapse" data-parent=".accordion">
                    <div class="card-body">
                        <img src="~/Images/Admission_Procedure/Fees.png" alt="" />
                        In order to formally accept this offer, you must pay the Admission Fee and Caution Money. Please collect and return the completed admission form within one week of receiving the admission offer.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse7">
                        Welcome note
                    </a>
                </div>
                <div id="collapse7" class="collapse" data-parent=".accordion">
                    <div class="card-body">
                        <img src="~/Images/Admission_Procedure/welcome-Note.png" alt="" />
                        The admissions team will send an email verifying your admission.
                    </div>
                </div>
            </div>

        </div>


    </div>*@
</section>


