
@{
    ViewBag.Title = "Award";
   
}
<html>
<head>
    <style>
        dl, ol, ul {
            margin-top: 0;
            margin-bottom: 0rem;
            padding: 0 17px;
            color: #4B4B4B !important;
            font-weight: 500;
            font-size: 14px;
        }

        .card_info p {
            margin-bottom: 0;
            color: #4B4B4B !important;
            font-weight: 500;
            font-size: 14px;
        }

        .award_content {
            color: #4B4B4B !important;
        }

        .card {
            background-color: #F5F5F5;
            border-radius: 10px 10px 10px 10px;
        }

        h1 {
            font-size: 1rem;
            font-weight: 600;
            color: #223871;
        }

        .card_info {
            padding: 0px 10px
        }

        .aard_img {
            border-radius: 10px 10px 0px 0px;
        }

        .readmore_btn {
            background: #29417D;
            width: 60%;
            margin: auto;
            border-radius: 50px;
            color: #FFF;
            font-size: 13px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

            .readmore_btn:hover {
                color: #FFF;
                cursor: pointer;
            }

        @@media only screen and (max-width: 600px) {
            h1 {
                font-size: 1.6rem;
            }

            .award_content p {
                font-weight: 600;
                margin-bottom: 0;
                color: #4B4B4B !important;
                padding-left: 20px;
                color: #223871;
            }
        }
    </style>
</head>
<body>
    <section style="padding: 0px 0;">
        <div class="main_div">
            <div class="main_banner">
                <img src="~/Images/award/award_banner.png" width="100%">
            </div>
            <div class="container my-5">

                <div class="main_award_content">

                    <div class="pageheading">
                        <h1>Award</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="award_content">

                                    <img src="~/Images/award/award_sub_banner.png" width="100%" height="130px" class="aard_img">
                                </div>
                                <div class="card_info">
                                    <h1 class="mt-3">Apple Distinguished Schools recognition</h1>
                                    <p>1. Introduction Section:</p>
                                    <ul>
                                        <li>Heading: “What is an Apple Distinguished School?”</li>
                                    </ul>
                                </div>
                                <a href="/mainaward/mainaward"><button class="btn readmore_btn my-3">Read More</button></a>
                            </div>
                        </div>
                    </div>

                </div>


                @*<div class="full_content my-5">
                    <div class="award_content">
                        <div class="pageheading">
                            <h1>Award</h1>
                        </div>
                        <img src="~/Images/award/award_sub_banner.png" width="100%" class="aard_img">
                    </div>
                    <h1 class="mt-5">Apple Distinguished Schools recognition</h1>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <img src="~/Images/award/cr_1.png" width="100%">
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/award/cr_2.png" width="100%">
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/award/cr_3.png" width="100%">
                        </div>
                    </div>
                    <div class="award_content">
                        <p>1. Introduction Section:</p>
                        <ul>
                            <li>Heading: “What is an Apple Distinguished School?”</li>
                            <li>
                                Content: A brief explanation of the Apple Distinguished School program, what it recognizes (innovation, leadership, and educational excellence), and why it’s
                                important in the context of 21st-century learning.
                            </li>
                        </ul>
                        <p>Achievement Announcement Section:</p>
                        <ul>
                            <li>Heading:</li>
                        </ul>
                        <p>“MLSI’s Journey to Becoming an Apple Distinguished School”</p>
                        <ul>
                            <li>Content</li>
                        </ul>
                        <p>
                            Detailed content about how Apple technology is integrated into MLSI’s learning environments. Discuss the impact on students’ learning experiences,
                            collaborative projects, creative expression, and problem-solving.
                        </p>
                        <ul>
                            <li>Add Bullet Points or Highlights:</li>
                        </ul>
                        <p>4. Recognition Section:</p>
                        <ul>
                            <li>Heading:</li>
                        </ul>
                        <p>“What It Means to Be an Apple Distinguished School”</p>

                        <ul>
                            <li>Content:</li>
                        </ul>
                        <p>
                            Discuss the benefits of being an Apple Distinguished School, the ongoing commitment to innovation in education, and what this recognition means for
                            MLSI’s future.
                        </p>
                        <ul>
                            <li>CTA:</li>
                        </ul>
                        <p>“Discover More About MLSI’s Technology-Driven Programs“</p>

                        <p>5. Future Vision Section:</p>
                        <ul>
                            <li>Heading:</li>
                        </ul>
                        <p>“Looking Ahead: Continuing Innovation at MLSI”</p>

                        <ul>
                            <li>Content:</li>
                        </ul>
                        <p>
                            A forward-looking statement about how MLSI will continue to lead in educational technology innovation, including future plans, ongoing teacher training,
                            and how the school will evolve its curriculum.
                        </p>

                        <p>6. Conclusion:</p>
                        <ul>
                            <li>Heading:</li>
                        </ul>
                        <p>“Join MLSI’s Technological Journey”</p>

                        <ul>
                            <li>Content:</li>
                        </ul>
                        <p>Invite prospective students and parents to learn more about the school and its forward-thinking approach. Include a CTA like “Explore Admissions” or “Visit Our Campus.”</p>

                        <ul>
                            <li>CTA:</li>
                        </ul>
                        <p>Buttons for “Explore Admissions” and “Contact Us”</p>
                    </div>
                </div>*@


            </div>
                </div>
    </section>
</body>
</html>