
@{
    ViewBag.Title = "Contact";
}

<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/Contact/contact.jpg" alt="" class="img-fluid" />
</div>
<section class="Contactus">
    <div class="container containertbl">
        <div class="pageheading">
            <h1>
                Contact Information
            </h1>
        </div>
        <div class="text">
            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <div class="Contact-address">
                        <div class="Name">Mount Litera School International,</div>
                        <span>GN Block, Behind Asian Heart Hospital,</span>
                        <span>Near UTI Building,                    </span>
                        <span>Bandra Kurla Complex,                 </span>
                        <span>Bandra- East,                         </span>
                        <span>Mumbai – 400 051                      </span>
                    </div>
                    <div class="Contact-phone">
                        <h4>
                            School Landline
                        </h4>
                        022- 62296000
                    </div>
                    <div class="Contact-phone">
                        <h4>
                            Admissions Tel
                        </h4>
                        9930441459 / 9769330319
                    </div>
                    <div class="Contact-phone">
                        <h4>
                            Admission Email
                        </h4>
                        admission@mlsi.in
                    </div>
                    <div class="Contact-email">
                        For any enquiries on working with us please contact career@mlsi.in
                    </div>
                </div>
                <div class="col-md-8 col-sm-7">
                    <div class="FormIframe">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3770.976200075848!2d72.859265!3d19.064784000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8e6947da88d%3A0xa4611f6cf749acbb!2sMount+Litera+School+International!5e0!3m2!1sen!2sin!4v1419318959246" style="height:500px;width:100%;max-width:100%;" frameborder="0"></iframe>
                    </div>

                </div>
            </div>
            @*<div>
                <div class="mapframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d943.0106636641478!2d72.830444!3d19.017842000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cec72ee59be9%3A0xb4f5cff9f2cc9ddd!2sIDA+Head+Office!5e0!3m2!1sen!2sin!4v1414535352337"
                            width="100%" height="300px" frameborder="0" style="border: 0"></iframe>
                </div>
            </div>*@
        </div>
    </div>
</section>


