
@{
    ViewBag.Title = "Fees";
}


<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/Admission/Fees.jpg" alt="" class="img-fluid" />
    <div class="container">
        <div class="Topic">
            <!--<a href="#Fee_Deposit_Timelines" class="scrollto">-->
            @*<h4>Fee Deposit Timelines</h4>*@
            <!--<p>
            The fee structure and collection policy of MLSI have been approved by the Board of Governors and are designed to provide world-class education of high standards.
        </p>
    </a>-->
            <p>
                The fee structure and collection policy of MLSI have been approved by the Board of Governors and are designed to provide world-class education of high standards.
            </p>
            @*<a href="#Notes" class="scrollto">
            <h4>Notes</h4>
        </a>
        <a href="#School_Fees_covers" class="scrollto">
            <h4>The School Fees covers the following</h4>
        </a>*@
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="pageheading">
            <h1>
                Fees
            </h1>
        </div>
        <div class="InsideBlock" id="Fee_Deposit_Timelines">
            <div class="InsideBlockHeader">
                Fee Deposit Timelines
            </div>
            <div class="InsideBlockBody p-0">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-center">Registration Fee</td>
                            <td class="text-center">Along with submission of application</td>
                        </tr>
                        <tr>
                            <td class="text-center">Admission and Caution Money</td>
                            <td class="text-center">Within 3 days of receipt of an offer for admission</td>
                        </tr>
                        <tr>
                            <td class="text-center">Annual Tuition Fee</td>
                            <td class="text-center"><em>May and November</em></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="InsideBlock" id="Notes">
            <div class="InsideBlockHeader">
                Notes
            </div>
            <div class="InsideBlockBody">
                <ul class="checklist">
                    <li>
                        All students applying for admission must pay a one-time registration fee. This fee must be paid before registration forms can be processed.
                    </li>
                    <li>
                        The registration fee is neither refundable nor transferable.
                    </li>
                    <li>
                        The payment of the registration fee and submission of the registration form does not guarantee admission to the school.
                    </li>
                    <li>
                        The school reserves the right to refuse any and/or all proposed admissions, as well as to reject any and/or all registration form(s) received in that regard, based on the admission process followed by the school. The school's decisions in this regard are final and binding.
                    </li>
                    <li>
                        The school will issue a formal acceptance letter to the concerned parents at the time of admission. The concerned parents must complete the enrolment process stated in the formal acceptance letter within 3 days of receiving it, including the payment of one-time Admission Money and Caution Money.
                    </li>
                    <li>
                        Acceptance is deemed complete upon completion of the enrolment process outlined in the formal acceptance letter by the date specified in the letter to secure a seat in the school. Once paid, the one-time admission fee is non-refundable and non-transferable.
                    </li>
                    <li>
                        The Caution Money is refundable without interest upon production of a no-dues certificate and the original receipt for the Caution Money.
                    </li>
                    <li>
                        The school reserves the right to adjust the Caution Money to cover any fee arrears, damages or losses to library books, laboratory equipment, computer facilities, or other school equipment or assets.
                    </li>
                    <li>
                        Once paid to the school, the one-time admission fee and caution money indicate confirmation of enrolment for the academic year.
                    </li>
                    <li>
                        In addition to the Admission Fee and Caution Money, Parents must pay an annual tuition fee in accordance with the schedule established by the School from time to time.
                    </li>
                    <li>
                        Tuition fees are non-refundable and non-transferable once paid.
                    </li>
                    <li>
                        The fee(s) can be paid by crossed check or online (through payment gateway details of which will be provided by the school on request). The School will not accept cash or RTGS/NEFT/IMPS payments.
                    </li>
                </ul>
            </div>
        </div>
        <div class="InsideBlock" id="School_Fees_covers">
            <div class="InsideBlockHeader">
                The following expenses are covered by the fees of IB board school in Mumbai:
            </div>
            <div class="InsideBlockBody">
                <ol>
                    <li>During school hours, you may use the laboratories, ICT rooms, art room, music room, and libraries.</li>
                    <li>School uniforms & Shoes                                                       </li>
                    <li>Note books, a school bag, ID cards, a yearbook, and so on.                                        </li>
                    <li>Breakfast, Lunch and Evening Snacks are provided.                                                 </li>
                    <li>Mandatory Club                                                                                    </li>

                </ol>
            </div>
        </div>


        <p class="mt-4">
            The fee structure and schedule stated above are subject to change at the sole discretion of Mount Litera School International's Board of Governors. Furthermore, the Board reserves the right to implement schemes that are only available for a limited time and are subject to terms and conditions.           
        </p>
        <p>
            The School will communicate any changes to the fee structure, schemes, and payment schedule as they become available. As a result, this fee structure and schedule should not be interpreted as a contract binding Mount Litera School International.
        </p>
</div>
</section>

