
@{ ViewBag.Title = "IB_Diploma_Programme"; }

<div class="InsideBanner">
  <img src="~/Images/InnsideBanner/Programmes/DP_Banner_picture_for-website.jpg" alt="" class="img-fluid" />
  <div class="container">
      <div class="Topic">
          <a  class="scrollto">
              @*<h4>IB Diploma Programme (DP)</h4>*@
              <p>
                  The Diploma Programme is intended to be a holistic programme that addresses the intellectual, emotional, and physical well-being of students in Grade 11 and 12.
              </p>
          </a>
          @*<a href="#DP_Curriculum" class="scrollto">
            <h4> IB Diploma Programme (DP) Curriculum</h4>
            <p>
                The IBDP curriculum contains six subject groups together
            </p>
        </a>
        <a href="#DP_Subjects" class="scrollto">
            <h4>DP Subjects offered at MLSI</h4>
        </a>
        <a href="#IBDP" class="scrollto">
            <h4>Why do the IBDP at MLSI?</h4>
        </a>*@
        
      </div>
  </div>
</div>
<section>
    <div class="container">
        <div class="InsideBlock">
            <div class="InsideBlockHeader">
                <img src="~/Images/dp_programme_logo_en.png" alt="" height="25" width="200" class="img-fluid" /> IB Diploma Programme (DP)
            </div>
            <div class="InsideBlockBody">
                <p>
                    The IB Diploma Programme (DP) a curriculum framework designed by the International
                    Baccalaureate (IB) for students in the last two years of high school.
                </p>
                <p>
                    It is a two year course that is academically challenging and balanced covering basic disciplines such
                    as languages, arts, science, maths as well as providing opportunity for increased emphasis in selected
                    subjects. It addresses the intellectual, social, emotional and physical well-being of students, and is
                    respected by leading universities across the globe.It continues to be one of the most prestigious pre-
                    university qualifications across the globe.IB students graduating with the IB diploma are able to study
                    at universities all around the world, often with advanced credit.
                </p>
                <p>Examinations are held at the end of Year 2, i.e. Grade 12.</p>
                <p>
                    The Diploma Programme is designed as a 'holistic programme that addresses the intellectual,
                    emotional and physical well-being of students in Grades 11 &amp; 12' and is receptive to the demands of a
                    globally interconnected world which demands problem solving and analytical skills.
                </p>
                <p>
                    The DP is committed to the development of students according to the attributes shown in the IB
                    learner profile. The IB learner profile describes the shared values that inform an IB education. The
                    learner profile is a great summary of what the IB programmes want to achieve in terms of moulding the
                    students into future leaders of the world.
                </p>

            </div>
        </div>
        @*<div class="InsideBlock" id="DP_Curriculum">
            <div class="InsideBlockHeader">
                International Baccalaureate Diploma Programme Curriculum
            </div>
            <div class="InsideBlockBody">
                <p>
                    Through the DP, schools are able to develop students who:
                </p>
                <ul class="checklist mb-4">
                    <li>have excellent breadth and depth of knowledge</li>
                    <li>flourish physically, intellectually, emotionally and ethically</li>
                    <li>study at least two languages</li>
                    <li>excel in traditional academic subjects</li>
                    <li>explore the nature of knowledge through the programme's unique theory of knowledge course.</li>
                </ul>
                <p>
                    Most successful Diploma Programme students lead very full lives. They are often members of athletic
                    teams and involved in a wide range of activities. Time management and organization are key skills the
                    IB develops in students.
                </p>
                <p>
                    International research shows that there are many benefits to choosing the DP over other 16-19
                    curricula. For example:
                </p>
                <ul class="checklist mb-4">
                    <li>
                        DP students are better able than their peers to cope with demanding workloads, manage their
                        time and meet the expectations placed on them, according to one study
                    </li>
                    <li>
                        Analysis of DP students in Canada, the UK and the USA found that the DP's extended essay
                        improves students' approach to learning in higher education
                    </li>
                    <li>
                        72% of students taking the DP in China attend one of the world's top 500 universities,
                        according to a 2013 study.
                    </li>
                </ul>
                <p>Some key features of Diploma Programme assessment include the following.</p>
                <ul class="checklist mb-4">
                    <li>
                        An emphasis on criterion-related (as opposed to norm-referenced) assessment
                    </li>
                    <li>
                        This method of assessment judges students' work in relation to identified levels of attainment,
                        rather than in relation to the work of other students.
                    </li>
                    <li>
                        Valuing the most accurate demonstration of student performance, rather than just averaging
                        attainment grades over a reporting period. IB Assessments deliver valid, fair and reliable results
                        for students across the world.
                    </li>
                </ul>
            </div>
        </div>*@


        <div class="InsideBlock" id="DP_Curriculum">
            <div class="InsideBlockHeader">
                What the DP offers students
           </div>
            <div class="InsideBlockBody">
                <p>
                    Through the DP, schools are able to develop students who:
               </p>
                <ul class="checklist mb-4">
                    <li>have excellent breadth and depth of knowledge</li>
                    <li>flourish physically, intellectually, emotionally and ethically</li>
                    <li>study at least two languages</li>
                    <li>excel in traditional academic subjects</li>
                    <li>explore the nature of knowledge through the programme's unique theory of knowledge course.</li>
                </ul>
                <p>
                    Most successful Diploma Programme students lead very full lives. They are often members of athletic teams and involved in a wide range of activities. Time management and organization are key skills the IB develops in students.
                </p>
                <p>
                    International research shows that there are many benefits to choosing the DP over other 16-19
                    curricula. For example:
                </p>
                <ul class="checklist mb-4">
                    <li>
                        DP students are better able than their peers to cope with demanding workloads, manage their
                        time and meet the expectations placed on them, according to one study
                    </li>
                    <li>
                        Analysis of DP students in Canada, the UK and the USA found that the DP's extended essay
                        improves students' approach to learning in higher education
                    </li>
                    <li>
                        72% of students taking the DP in China attend one of the world's top 500 universities,
                        according to a 2013 study.
                    </li>
                </ul>
                <p>Some key features of Diploma Programme assessment include the following.</p>
                <ul class="checklist mb-4">
                    <li>
                        An emphasis on criterion-related (as opposed to norm-referenced) assessment
                    </li>
                    <li>
                        This method of assessment judges students' work in relation to identified levels of attainment,
                        rather than in relation to the work of other students.
                    </li>
                    <li>
                        Valuing the most accurate demonstration of student performance, rather than just averaging
                        attainment grades over a reporting period. IB Assessments deliver valid, fair and reliable results
                        for students across the world.
                    </li>
                </ul>
            </div>
        </div>

        <div class="InsideBlock" id="DP_Curriculum">
            <div class="InsideBlockHeader">
                IB Diploma Programme (DP) Curriculum
            </div>
            <div class="InsideBlockBody">
                <p>
                    The IBDP curriculum contains six subject groups together with a core made up of three separate parts
                    as illustrated in the curriculum model below:
                </p>
                <div class="text-center">
                    <img src="~/Images/dp_model_en.png" alt="" width="400" height="400" />
                </div>
                <p>
                    Students are expected to study three subjects at 'Higher Level' (HL) and three at 'Standard Level' (SL).
                </p>
                <p>
                    In addition to this, the three mandatory core components that contribute to a student's educational
                    experience and challenge them to apply their knowledge and understanding are:
                </p>
                <ul class="checklist mb-4">
                    <li>
                        <b>The extended essay:</b> The extended essay is a serious piece of academic research and
                        writing wherein students independently research and investigate a topic of interest to produce
                        a 4000-word in- depth study.
                    </li>
                    <li>
                        <b> Theory of knowledge (TOK)</b> offers an opportunity for students to reflect on the nature of
                        knowledge by critically examining how we know, through different ways of knowing and areas
                        of knowledge. Students develop awareness of their own perspectives can act responsibly in an
                        increasingly interrelated world.
                    </li>
                    <li>
                        <b>Creativity, activity, service (CAS)</b> involves students in an array of different activities (such as
                        community service work, sports, creative pursuits) alongside their academic studies thus
                        fostering an appreciation of life beyond the classroom walls.
                    </li>
                </ul>
                <p>
                    Through the Diploma Programme (DP) core, students reflect on the nature of knowledge, complete
                    independent research and undertake a project that often involves community service.The Core
                    ensures that the approach to learning is interdisciplinary, which allows our students to build skills that
                    can help them engage with complex ideas and appreciate multiple perspectives.
                </p>
            </div>
        </div>
        <div class="InsideBlock" id="DP_Subjects">
            <div class="InsideBlockHeader">
                DP Subjects offered at MLSI
            </div>
            <div class="InsideBlockBody p-0">
                <div class="p-4">
                <p>Students need to select 6 subjects across the subject groups. (Or one subject from each of the 5 groups and the sixth subject can be from Group 3 or 4). Three subjects need to be at Higher Level (HL) and three subjects at Standard Level (SL).</p>
                <p>
                    Within each subject group, the courses offered at MLSI include:
                </p>
                    </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <tbody>
                            <tr>
                                <th>Group 1</th>
                                <th>Group 2</th>
                                <th>Group 3</th>
                                <th>Group 4</th>
                                <th>Group 5</th>
                                <th>Group 6</th>
                            </tr>
                            <tr>
                                <td rowspan="5">
                                    English A<p></p>
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    French Ab <br />
                                    Initio<br />
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    Business <br />
                                    Management
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    Physics
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td rowspan="3">
                                    Mathematics<br />
                                    Application & <br />
                                    Interpretations
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td rowspan="5">
                                    Visual Art
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    French B SL
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    Economics
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    Chemistry
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hindi B
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    Psychology<br />
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    <div style="width:100%">
                                        Biology
                                        <p>HL  <input type="checkbox" disabled /></p>
                                        <p>SL  <input type="checkbox" disabled /></p>
                                    </div>
                                    <hr />
                                    <div style="width:100%">
                                        Computer Science
                                        <p>HL  <input type="checkbox" disabled /></p>
                                        <p>SL  <input type="checkbox" disabled /></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Spanish Ab Initio
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    Environmental <br />
                                    Systems<br />
                                    & Societies
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    <div style="width:100%">
                                        Design Technology<br />
                                        (Will be offered <br />
                                        depending on number<br />
                                        of takers)
                                        <p>HL  <input type="checkbox" disabled /></p>
                                        <p>SL  <input type="checkbox" disabled /></p>
                                    </div>
                                    <hr />
                                    <div style="width:100%">
                                        Sports Exercise<br />
                                        and Health Science<br />
                                        (SEHS)
                                        <p>HL  <input type="checkbox" disabled /></p>
                                        <p>SL  <input type="checkbox" disabled /></p>
                                    </div>
                                </td>
                                <td rowspan="2">
                                    Mathematics<br />
                                    Analysis <br />
                                    & approaches
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Spanish B
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    History
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                                <td>
                                    Environmental Systems & Societies
                                    <p>HL  <input type="checkbox" disabled /></p>
                                    <p>SL  <input type="checkbox" disabled /></p>
                                </td>
                            </tr>
                            @*<tr>
                        <td rowspan="5">
                            English A Language &amp; Literature<p></p>
                            <p>HL/ SL</p>
                        </td>
                        <td>
                            French Ab Initio<br>
                            SL
                        </td>
                        <td>
                            Business Management<br>
                            HL / SL
                        </td>
                        <td>Physics HL / SL</td>
                        <td rowspan="3">
                            Mathematics<br>
                            Application &amp; Interpretations<p></p>
                            <p>HL / SL</p>
                        </td>
                        <td rowspan="5">
                            Visual Art<p></p>
                            <p>HL / SL</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            French B<br>
                            SL SL
                        </td>
                        <td>
                            Economics<br>
                            HL / SL
                        </td>
                        <td>
                            Chemistry<br>
                            HL / SL
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hindi B<br>
                            HL / SL
                        </td>
                        <td>
                            Psychology<br>
                            HL / SL
                        </td>
                        <td>
                            Biology<br>
                            HL / SL
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Spanish Ab Initio<br>
                            SL
                        </td>
                        <td rowspan="2">
                            Environmental Systems &amp; Societies<p></p>
                            <p>SL</p>
                        </td>
                        <td>
                            Design Technology<p></p>
                            <p>HL / SL</p>
                        </td>
                        <td rowspan="2">
                            Mathematics<br>
                            Analysis &amp; approaches<p></p>
                            <p>HL / SL</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Spanish B<p></p>
                            <p>SL</p>
                        </td>
                        <td>
                            Environmental Systems Societies<p></p>
                            <p>SL</p>
                        </td>
                    </tr>*@
                        </tbody>
                    </table>
                </div>
                <div class="p-4">
                    <p class="m-0">
                        * These subjects will be offered depending on student interest and size of the cohort.
                    </p>
                    <p>
                        * To learn more about DP subjects, explore detailed information on each subject by clicking on the respective links.
                    </p>

                </div>

            </div>
        </div>
        <div class="InsideBlock" id="IBDP">
            <div class="InsideBlockHeader">
                Why do the IBDP at MLSI?
            </div>
            <div class="InsideBlockBody">
                <ul class="checklist mb-4">
                    <li>
                        Experienced, internationally qualified and IB trained staff. Among our staff we have Examiners,
                        Workshop Leaders, School Visit Leaders and a motivated faculty who have an international outlook,
                        with strong Indian values. All our DP teachers are highly trained professionals and subject experts
                        in their fields and are also trained in the IB's approaches to teaching and approaches to learning
                    </li>
                    <li>
                        Our infrastructure includes world class laboratories (physics, chemistry, biology, design technology,
                        Apple Supported iMac lounge) and other facilities in order to enhance student learning at the high
                        school level.
                    </li>
                    <li>
                        A well resourced library and media centre to keep up with current developments in IB education.
                    </li>
                    <li>
                        Ergonomic classrooms with state-of-the-art infrastructure
                    </li>
                    <li>
                        45,000 Sq. ft. indoor sports complex
                    </li>
                    <li>
                        Nurturing, caring and safe environment
                    </li>
                    <li>Conveniently located in BKC</li>
                    <li>
                        Being international-minded, global citizens who are inter-culturally aware, are the key traits that
                        benefit the IB Diploma graduates in their university studies and career pursuits. Our full time College
                        Counsellor guides and supports students in their university choices, based on their aptitude and
                        aspirations.
                    </li>
                    <li>
                        Our assessments use a variety of tasks, including examination papers, written assignments like
                        essays, oral interviews, scientific and mathematical investigations, fieldwork projects and artistic
                        works, which are completed by candidates at various times during their course.
                    </li>
                    <li>
                        Our CAS programme, Theory of Knowledge (TOK) lessons and the Extended Essay process allows
                        our students to showcase not only their knowledge but their gamut of 21st century skills they have
                        developed as lifelong learners.
                    </li>
                    <li>
                        Community service is an important component of our DP programme ensuring that the students
                        reflect on their contextual learning and are motivated for self-initiated action for their community.
                    </li>
                    <li>
                        MLSI's IB Diploma Programme (Grade 11) is offering 100% scholarship* on tuition fees to exemplary students for the academic year 2024-25.
                    </li>
                </ul>
                <p>For more details about the IBDP programme, visit&nbsp;<a href="https://www.ibo.org/" target="_blank">www.ibo.org</a></p>
                           </div>
        </div>
    </div>
</section>

