
@{
    ViewBag.Title = "Learning_Spaces";
}


<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/Student_Life/Learning-Space.jpg" alt="" class="img-fluid" />
    <div class="container">
        <div class="Topic">
            <!--<a href="#Learning_Spaces" class="scrollto">-->
            @*<h4>Learning Spaces</h4>*@
            <!--<p>
            Our learning spaces are designed keeping in mind the requirements of a child’s learning.
        </p>
    </a>-->
            <p>
                Our learning spaces are designed keeping in mind the requirements of a child’s learning.
            </p>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="InsideBlock" id="Learning_Spaces">
            <div class="InsideBlockHeader">
                Learning Spaces
            </div>
            <div class="InsideBlockBody">
                Our learning spaces are vibrant and dynamic. They are designed to cater to a variety of purposes, providing students with an ideal environment for collaborative learning. They are bright, spacious and equipped with modern technology to support our students’ educational needs. We have created different areas to cater to different learning styles and preferences. For example, we have quiet reading corners for students who prefer a calm and peaceful environment for reading and independent studies. Our learning spaces are equipped with the latest technology, including interactive whiteboards, Apple computers, and projectors to enhance the learning experience. These tools allow our students to engage in interactive and engaging activities, bringing their learning to life.

                @*<p>
                    They are created with the needs of a child's learning in mind. They are dynamic and can be used for a variety of purposes. Our learning spaces are one of the best as compared to other IB schools in Mumbai.
                </p>
                <p>
                    MLSI Classrooms are decorated with student-created artwork. A variety of learning aids are also kept, and these are regularly updated to match current learning objectives.
                </p>
                <p class="m-0">
                    Students are encouraged to do hands-on learning in the science labs. The Design and Technology lab is a creative hotspot. The Apple Lounge and ICT (Information Communication Technology) lab are intended to help our students and teachers in their research and development.
                </p>*@
            </div>
        </div>
    </div>
</section>

