
@{
    ViewBag.Title = "Mission";
}

<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/AboutUs/Mission.jpg" alt="" class="img-fluid" />
    <div class="container">
        <div class="Topic">
            <!--<a href="#Mission" class="scrollto">-->
            @*<h4>Mission statement for MLSI</h4>*@
            <!--<p>
            Mount Litera School International provides students with a happy and secure environment to learn and grow socially.
        </p>
    </a>-->
            <p>
                Mount Litera School International provides students with a happy and secure environment to learn and grow socially.
            </p>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="InsideBlock" id="Mission">
            <div class="InsideBlockHeader">
                Mission statement for MLSI
            </div>
            <div class="InsideBlockBody">
                <p>
                    Making its presence felt as one of the top International Baccalaureate Continuum in the city of Mumbai, Mount Litera School International prides itself in offering the best of teaching and learning experiences to every aspiring student who steps into its hallowed portals seeking to imbibe the IB Learner profile mantra through the process of an enriching, rounded curriculum that caters to the needs of every learner.
                </p>
                Backed by a sound teaching and learning philosophy envisioned by its fervent founders, excellent infrastructure, an internationally acclaimed school head and a team of professionally qualified and trained academic fraternity – all so rooted in its core value system and equipped with up-to-date innovative and holistic methodologies, MLSI stands tall in its commitment to delivering world class education. With students at its centre, the curriculum aims to help your child foster a spirit of inquiry, critical thinking and problem-solving skills to enable each to become an excellent communicator, creative thinker, a confident risk taker and in essence, a highly knowledgeable, well-balanced, empathetic world-ready citizen 
            </div>
        </div>
    </div>
</section>


