
@{
    ViewBag.Title = "PhotoGallery";
}
<div id="" class="">
    
    <div class="nav-tabs-left">
        <ul class="nav nav-tabs ul_list">
            <li class="nav-item">
                <a class="nav-link waves-effect active" data-toggle="tab" href="#Annual_Production">Annual Production</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#Graduation">Graduation Day</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#Children_s_Day_Celebration">Childrens Day Celebration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#Investiture_Ceremony">Investiture Ceremony</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#Halloween_Celebration">Halloween Celebration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#First">First Day of School</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#Meraki">Meraki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#SAIBSA_Event">SAIBSA Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#Republic_Day">Republic Day</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#Sport_Day">Sport's Day</a>
            </li>
            @*<li class="nav-item">
            <a class="nav-link waves-effect" data-toggle="tab" href="#Graduation_Ceremony">Graduation Ceremony</a>
        </li>*@
            <li class="nav-item">
                <a class="nav-link waves-effect" data-toggle="tab" href="#Fit_for_Life">Fit for Life</a>
            </li>
            @*<li class="nav-item">
            <a class="nav-link waves-effect" data-toggle="tab" href="#Annual_Day">Annual Day</a>
        </li>*@



        </ul>
        <div class="nav-tabs-left-container">
            <div class="tab-content Gallery">
                <div class="tab-pane fade " id="SAIBSA_Event">
                    <div class="row">
                        @*<div class="col-6 col-md-4 col-lg-3">
                    <a href="~/Images/Photogallery/SAIBSA_Event/1.jpg" data-fancybox="SAIBSA_Event" data-transition-effect="tube">
                        <img src="~/Images/Photogallery/SAIBSA_Event/1_thumb.jpg" class="img-fluid" alt="" />
                    </a>
                </div>*@
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/SAIBSA_Event/2.jpg" data-fancybox="SAIBSA_Event" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/SAIBSA_Event/2_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/SAIBSA_Event/3.jpg" data-fancybox="SAIBSA_Event" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/SAIBSA_Event/3_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/SAIBSA_Event/4.jpg" data-fancybox="SAIBSA_Event" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/SAIBSA_Event/4_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/SAIBSA_Event/5.jpg" data-fancybox="SAIBSA_Event" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/SAIBSA_Event/5_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Republic_Day">
                    <div class="row">

                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Republic_Day/2.jpg" data-fancybox="Republic_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Republic_Day/2_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Republic_Day/3.jpg" data-fancybox="Republic_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Republic_Day/3_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Republic_Day/4.jpg" data-fancybox="Republic_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Republic_Day/4_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Republic_Day/5.jpg" data-fancybox="Republic_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Republic_Day/5_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Republic_Day/1.jpg" data-fancybox="Republic_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Republic_Day/1_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Sport_Day">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0172.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0172.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0175.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0175.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0188.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0188.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0208.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0208.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0373.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0373.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>


                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0430.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0430.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0488.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0488.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0497.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0497.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0655.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0655.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0730.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0730.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0863.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0863.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0866.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0866.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0952.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0952.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_0956.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_0956.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_1156.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_1156.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_1519.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_1519.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_1522.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_1522.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_1585.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_1585.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_1748.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_1748.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Sport_Day/IMG_1822.jpg" data-fancybox="Sport_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Sport_Day/IMG_1822.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Graduation_Ceremony">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation_Ceremony/1.jpg" data-fancybox="Graduation_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation_Ceremony/1_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation_Ceremony/2.jpg" data-fancybox="Graduation_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation_Ceremony/2_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation_Ceremony/3.jpg" data-fancybox="Graduation_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation_Ceremony/3_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation_Ceremony/4.jpg" data-fancybox="Graduation_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation_Ceremony/4_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation_Ceremony/5.jpg" data-fancybox="Graduation_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation_Ceremony/5_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation_Ceremony/6.jpg" data-fancybox="Graduation_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation_Ceremony/6_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Fit_for_Life">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Fit_for_Life/1.jpg" data-fancybox="Fit_for_Life" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Fit_for_Life/1_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Fit_for_Life/2.jpg" data-fancybox="Fit_for_Life" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Fit_for_Life/2_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Fit_for_Life/3.jpg" data-fancybox="Fit_for_Life" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Fit_for_Life/3_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Fit_for_Life/4.jpg" data-fancybox="Fit_for_Life" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Fit_for_Life/4_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Fit_for_Life/5.jpg" data-fancybox="Fit_for_Life" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Fit_for_Life/5_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Annual_Day">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Day/1.jpg" data-fancybox="Annual_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Day/1_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Day/2.jpg" data-fancybox="Annual_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Day/2_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Day/3.jpg" data-fancybox="Annual_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Day/3_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Day/4.jpg" data-fancybox="Annual_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Day/4_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Day/5.jpg" data-fancybox="Annual_Day" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Day/5_thumb.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="Annual_Production">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/1.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/2.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/3.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/4.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/4.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/5.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/6.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/7.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/8.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/8.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/9.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/9.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/10.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/10.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/11.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/11.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Annual_Production/12.jpg" data-fancybox="Annual_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Annual_Production/12.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Children_s_Day_Celebration">
                    <h4 class="text-center" style="text-decoration:underline">2023-2024</h4>
                    <div class="row mt-3">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/IMG_1.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/IMG_1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/IMG_2.jpg" data-fancybox="AnnualChildren_s_Day_Celebration_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/IMG_2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/IMG_3.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/IMG_3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/IMG_4.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/IMG_4.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/IMG_5.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/IMG_5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/IMG_6.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/IMG_6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/IMG_7.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/IMG_7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>

                    </div>
                    <h4 class="text-center" style="text-decoration:underline">2022-2023</h4>
                    <div class="row mt-3">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/1.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/2.jpg" data-fancybox="AnnualChildren_s_Day_Celebration_Production" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/3.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/4.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/4.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/5.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/6.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Children_s_Day_Celebration/7.jpg" data-fancybox="Children_s_Day_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Children_s_Day_Celebration/7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="Investiture_Ceremony">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center" style="text-decoration:underline">2023-2024</h4>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/img1.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/img1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/img2.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/img2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/img3.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/img3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/img4.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/img4.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/img5.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/img5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/img6.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/img6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/img7.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/img7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/img8.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/img8.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/img9.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/img9.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center" style="text-decoration:underline">2022-2023</h4>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/1.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/2.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/3.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/4.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/4.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/5.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/6.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Investiture_Ceremony/7.jpg" data-fancybox="Investiture_Ceremony" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Investiture_Ceremony/7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="Halloween_Celebration">


                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center" style="text-decoration:underline">2023-2024</h4>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/img_1.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/img_1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/img_2.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/img_2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/img_3.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/img_3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>

                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/img_6.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/img_6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/img_7.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/img_7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/img_5.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/img_5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        @*<div class="col-6 col-md-4 col-lg-3">
                    <a href="~/Images/Photogallery/Halloween_Celebration/img_6.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                        <img src="~/Images/Photogallery/Halloween_Celebration/img_6.jpg" class="img-fluid" alt="" />
                    </a>
                </div>*@
                        @*<div class="col-6 col-md-4 col-lg-3">
                    <a href="~/Images/Photogallery/Halloween_Celebration/img_7.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                        <img src="~/Images/Photogallery/Halloween_Celebration/img7.jpg" class="img-fluid" alt="" />
                    </a>
                </div>*@

                    </div>


                    <div class="row">

                        <div class="col-12">
                            <h4 class="text-center" style="text-decoration:underline">2022-2023</h4>
                        </div>

                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/1.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/2.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/3.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/4.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/4.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/5.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/6.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Halloween_Celebration/7.jpg" data-fancybox="Halloween_Celebration" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Halloween_Celebration/7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="First">
                    <div class="col-12">
                        <h4 class="text-center" style="text-decoration:underline">2023-2024</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/_MG_7218.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/_MG_7218.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/_MG_7236.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/_MG_7236.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/_MG_7238.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/_MG_7238.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/IMGL7494.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/IMGL7494.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/IMGL7497.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/IMGL7497.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <h4 class="text-center" style="text-decoration:underline">2022-2023</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/1.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/2.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/3.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/4.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/4.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/5.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/6.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/First/7.jpg" data-fancybox="First" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/First/7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="Meraki">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/1.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/2.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/3.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/4.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/4.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/5.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/6.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/7.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/8.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/8.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/9.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/9.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Meraki/10.jpg" data-fancybox="Meraki" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Meraki/10.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="Graduation">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/1.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/1.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/2.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/2.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/3.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/4.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/4.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/5.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/5.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/6.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/6.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/7.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/7.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/8.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/8.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/9.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/9.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/10.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/10.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/11.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/11.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/12.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/12.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/13.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/13.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/14.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/14.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/15.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/15.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/16.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/16.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/17.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/17.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/18.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/18.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/19.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/19.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/20.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/20.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/21.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/21.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/22.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/22.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/23.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/23.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <a href="~/Images/Photogallery/Graduation/24.jpg" data-fancybox="Graduation" data-transition-effect="tube">
                                <img src="~/Images/Photogallery/Graduation/24.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







    @*<div id="PhotoGallery">
            <a href="~/Images/Photogallery/Events.jpg" data-fancybox="PhotoGallery" data-transition-effect="tube">
                <img src="~/Images/Photogallery/Events.jpg"class="img-fluid" alt="" />
            </a>
            <a href="~/Images/Photogallery/Activity.jpg" data-fancybox="PhotoGallery" data-transition-effect="tube">
                <img src="~/Images/Photogallery/Activity.jpg"class="img-fluid" alt="" />
            </a>
            <a href="~/Images/Photogallery/Infrastructure.jpg" data-fancybox="PhotoGallery" data-transition-effect="tube">
                <img src="~/Images/Photogallery/Infrastructure.jpg"class="img-fluid" alt="" />
            </a>
            <a href="~/Images/Photogallery/Events.jpg" data-fancybox="PhotoGallery" data-transition-effect="tube">
                <img src="~/Images/Photogallery/Events.jpg"class="img-fluid" alt="" />
            </a>
            <a href="~/Images/Photogallery/Activity.jpg" data-fancybox="PhotoGallery" data-transition-effect="tube">
                <img src="~/Images/Photogallery/Activity.jpg"class="img-fluid" alt="" />
            </a>
            <a href="~/Images/Photogallery/Infrastructure.jpg" data-fancybox="PhotoGallery" data-transition-effect="tube">
                <img src="~/Images/Photogallery/Infrastructure.jpg"class="img-fluid" alt="" />
            </a>
            <a href="~/Images/Photogallery/Events.jpg" data-fancybox="PhotoGallery" data-transition-effect="tube">
                <img src="~/Images/Photogallery/Events.jpg"class="img-fluid" alt="" />
            </a>
            <a href="~/Images/Photogallery/Activity.jpg" data-fancybox="PhotoGallery" data-transition-effect="tube">
                <img src="~/Images/Photogallery/Activity.jpg"class="img-fluid" alt="" />
            </a>
            <a href="~/Images/Photogallery/Infrastructure.jpg" data-fancybox="PhotoGallery" data-transition-effect="tube">
                <img src="~/Images/Photogallery/Infrastructure.jpg"class="img-fluid" alt="" />
            </a>
        </div>*@

