
@{
    ViewBag.Title = "Safety_Health_and_Security";
}
<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/Student_Life/Safety-Health-and-Security.jpg" alt="" class="img-fluid" />
    <div class="container">
        <div class="Topic">
            @*<a href="#Safety" class="scrollto">
            <h4>Safety</h4>
            <p>
                We are committed to child safety and security through our well-established iCare Programme.
            </p>
        </a>
        <a href="#Health" class="scrollto">
            <h4>Health</h4>
            <p>
                Health is the greatest wealth and we take it very seriously at MLSI.
            </p>
        </a>
        <a href="#Security" class="scrollto">
            <h4>Security</h4>
            <p>
                Fire Procedure Sheets are posted in strategic locations throughout the school campus.
            </p>
        </a>*@
            <h4>Safety</h4>
            <p>
                We are committed to child safety and security through our well-established iCare Programme.
            </p>
            <h4>Health</h4>
            <p>
                Health is the greatest wealth and we take it very seriously at MLSI.
            </p>
            <h4>Security</h4>
            <p>
                Fire Procedure Sheets are posted in strategic locations throughout the school campus.
            </p>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="pageheading">
            <h1>
                Safety, health and security
            </h1>
        </div>
        <p>
            Parents entrust their children to us with a lot of faith. Which is why, the students’ health and safety are paramount to us the moment they enter the school premises.
        </p>
        <div class="InsideBlock" id="Safety">
            <div class="InsideBlockHeader">
                Safety
            </div>
            <div class="InsideBlockBody">
                <p>
                    We are committed to child safety and security through our well-established iCare Programme. In fact, we have a zero-tolerance policy for anything falling short of our standards for What is Right for the Child. ‘We take pride of the fact that we have the highest number of security guards as compared to other schools. The classrooms are installed with CCTV cameras to monitor student discipline and for safety purpose. Every floor is secured with security persons.
                </p>
                <p class="m-0">
                    Staff, students and visitors are issued with a Mount Litera School International (MLSI) ID. This has to be worn at all times whilst on the school property. Visitors have to sign in at the main reception desk and are issued a visitor’s badge. Before leaving, it is mandatory for all visitors to sign out and return the badges. Any person without a proper ID is escorted back to the Reception.
                </p>
            </div>
        </div>
        <div class="InsideBlock" id="Health">
            <div class="InsideBlockHeader">
                Health
            </div>
            <div class="InsideBlockBody">
                <p>
                    Health is the greatest wealth and we take it very seriously at MLSI. A completed, registration and health form must be submitted along with the application form. The School must be notified of any changes in the child’s health by the parents.
                </p>
                <p class="m-0">
                    The School has a well-equipped infirmary staffed by a fully-qualified nurse. In the event of a child falling ill, parents are informed by the office, so that he or she can be collected from the School.
                </p>
            </div>
        </div>
        <div class="InsideBlock" id="Security">
            <div class="InsideBlockHeader">
                Security
            </div>
            <div class="InsideBlockBody">
                Fire Procedure Sheets are posted in strategic locations throughout the school campus. Emergency drills and evacuation practices take place on a regular basis. This ensures that not only school personnel are well-prepared in the unlikely event of an emergency, students also learn to be alert. These procedures are reviewed with students prior to the practice of drills. We have up to seven fire extinguishers on each floor for the emergency situation.
            </div>
        </div>
    </div>
</section>

