
@{
    ViewBag.Title = "School_Leadership_Team";
}

<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/AboutUs/School_Leadership_Team.jpg" alt="" class="img-fluid" />
    <div class="container">
        <div class="Topic">
            @*<a href="#PriyaAnand" class="scrollto">
                <h4>Priya Anand</h4>
                <p>
                    Head of School
                </p>
            </a>
            <a href="#VishnuSharma" class="scrollto">
                <h4>Vishnu Sharma</h4>
                <p>
                    Head of Secondary
                </p>
            </a>
            <a href="#BushraKhan" class="scrollto">
                <h4>Bushra Khan</h4>
                <p>
                    Head of Primary
                </p>
            </a>*@
            @*<a href="#HOS" class="scrollto">
                <h4>HOS</h4>
            </a>
            <a href="#PYPCoordinator" class="scrollto">
                <h4>PYP Coordinator</h4>
            </a>
            <a href="#AssociatePYPCoordinator" class="scrollto">
                <h4>Associate PYP Coordinator</h4>
            </a>
            <a href="#MYPCoordinator" class="scrollto">
                <h4>MYP Coordinator</h4>
            </a>*@
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="pageheading">
            <h1>
                School Leadership Team
            </h1>
        </div>
        <div class="InsideBlock" id="HOS">
            <div class="InsideBlockBody">
                <div class="row">
                    <div class="col-lg-7">
                        <p>
                            Let me begin by congratulating each one of you for choosing MLSI as a school for your child.
                            It is with great pride and excitement that I share this introduction to you as the Head of School of MLSI. I am honoured to have the opportunity to lead a school with such a rich tradition of education!

                        </p>
                        <p>
                            I have been dedicated to the field of education for more than 24 years.
                            As an educator I am very passionate about IB education and have a rich experience of working with the IB in many roles.
                            I look forward to partnering with you to provide our students with a rigorous, engaging, and high-quality school experience. Parents are every child's first teacher and I believe that by working together, we can make sure your child's social, emotional, and academic needs are met.
                        </p>
                        <p>
                            I will be working closely with the Management and the staff to guarantee that all of our students are intellectually challenged. Our main aim is to create global citizens who will become leaders for tommorow.
                        </p>
                        <p>
                            As your Head of School, it is important to me that everyone who steps through our doors-teachers, students, and parents-are excited to be here! This attitude enables us to meet the challenges of academic excellence in a positive, fun, and nurturing environment. My door is always open and I welcome your input throughout the school year. Please feel free to call or email me to discuss any concerns, or ideas you would like to share; our continued success is dependent on your feedback.
                            I look forward to working with you as a team to help each student at MLSI meet their goals and become successful learners.

                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div class="AcademicTeamPhoto">
                            <a href="~/Images/Priya-Anand.jpg" data-fancybox>
                                <img src="~/Images/Priya-Anand.jpg" alt="" />
                            </a>
                            <h4>Priya Anand</h4>
                            <h5>
                                Head of School
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="InsideBlock" id="PYPCoordinator">
            <div class="InsideBlockBody">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="AcademicTeamPhoto">
                            <a href="~/Images/Chandrani.jpg" data-fancybox>
                                <img src="~/Images/Chandrani.jpg" alt="" />
                            </a>
                            <h4>Ms. Chandrani Banerjee</h4>
                            <h5>
                               PYP Coordinator
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-7">
                      <p>
                        It is with immense enthusiasm that I embark on this educational journey
                        alongside you and your children.
                      </p>
                      <p>
                        Our vision for education is firmly rooted in the principles of the International Baccalaureate (IB) Primary Years Programme. We are dedicated to providing a
                        learning environment that encourages holistic development, critical thinking, and global awareness. It is my goal to create a dynamic space where your children
                        can thrive academically, emotionally, and socially.
                      </p>
                      <p>
                        As the PYP Coordinator, my role goes beyond being an educator. We are here to be a partner in your child's educational journey, working hand in hand with our
                        talented team of educators to design a curriculum that empowers students to become lifelong learners. Our focus is not just on academic success, but on nurturing
                        students who are confident, compassionate, and capable of embracing the challenges that lie ahead.
                      </p>
                      <p>
                        We are a firm believer in the power of collaboration between parents, educators, and students. We see parents as our invaluable allies in ensuring your child's
                        growth and success. We invite you to be active participants in your child's education, to engage in meaningful conversations, and to join us in fostering an
                        environment where curiosity is celebrated, questions are encouraged, and learning is a shared adventure. An integral part of this journey is the PYP Exhibition -
                        a culmination of your child's exploration, creativity, and learning. It's a moment where their academic and personal growth shine, as they take ownership of
                        their projects and present them to the community. Your involvement and support during this event can make a significant difference in your child's confidence
                        and overall experience.
                      </p>
                      <p>
                        With your support and our collective efforts, we can create an educational experience that prepares our students not only for academic excellence but also for
                        a future where they can make meaningful contributions to their communities and the world at large. I am excited to meet each one of you, to collaborate closely,
                        and to witness the remarkable growth of our children as they embark on this exciting journey through the MLSI PYP program.
                      </p>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="InsideBlock" id="AssociatePYPCoordinator">
            <div class="InsideBlockBody">
                <div class="row">
                    <div class="col-lg-7">
                        <p>
                            Welcome to MLSI MYP, where our commitment to education goes beyond mere knowledge acquisition.
                        </p>
                        <p>
                          Our focus lies in nurturing students who embody knowledge, compassion, and a global perspective.
                        </p>
                        <p>
                          Rooted in our core values of integrity, respect, and open-mindedness, these principles guide every aspect of our journey.
                        </p>
                        <p>
                          Our educational approach is influenced by the five essential IB policies, which emphasize holistic development, inquiry-driven learning, intercultural sensitivity, and the honing of critical thinking abilities.
                        </p>
                        <p>
                          Testament to our dedication that the MLSI MYP eAssessment consistently achieved a remarkable score of 56/56 from the year of establishment.
                        </p>
                        <p>
                          Inclusivity is at the heart of our ethos, bolstered by collaborative endeavors that intertwine service and community projects. Each student's uniqueness is cherished, and their ideas are nurtured, ensuring holistic growth.
                        </p>
                        <p>
                          With our innovative personal projects, we create an environment that fosters enjoyment and engagement. Our campus exudes warmth, extending a collaborative embrace to all.
                        </p>
                        <p>
                          MLSI kindles curiosity and enthusiasm among our students by offering them a wide range of clubs, an indispensable aspect of their educational voyage.
                        </p>
                        <p>
                          At MLSI, our commitment extends beyond our school boundaries to encompass local, regional, and national communities.
                        </p>
                        <p>
                          Through our outreach initiatives in Service and Community engagement activities, we empower our students to become active global citizens, amplifying positivity and change.
                        </p>
                        <p>
                          As a MYPC, welcoming you to our school family brings me great joy. We invite you to join hands with us, embarking on a mission to transform education into an enriching experience for every student. Together, we hold the power to shape our students' lives and the world at large.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div class="AcademicTeamPhoto">
                            <a href="~/Images/Rati-Bharadwaj.jpeg" data-fancybox>
                                <img src="~/Images/Rati-Bharadwaj.jpeg" alt="" />
                            </a>
                            <h4>Ms.Rati Bhardwaj</h4>
                            <h5>
                              MYP Coordinator
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="InsideBlock" id="MYPCoordinator">
            <div class="InsideBlockBody">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="AcademicTeamPhoto">
                            <a href="~/Images/Saolee-Roy.jpeg" data-fancybox>
                                <img src="~/Images/Saolee-Roy.jpeg" alt="" />
                            </a>
                            <h4>Ms.Saolee Roy</h4>
                            <h5>
                               DP Coordinator
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-7">
                      <p>
                        The Diploma programme was introduced at Mount Litera School International in 2018 and received its authorization in 2019. Over the years, the DP team has expanded significantly.
                        The school offers a diverse range of DP subjects, enabling students to tailor their choices based on their interests. For instance, in Group 3, subjects like Business Management,
                        Economics, History, Psychology, and Environmental System and Societies are available. In Group 4, options include Biology, Chemistry, Physics, Computer Science, Sports Exercise and
                        Health Science, Design Technology, and Environmental System and Societies. This comprehensive selection of subjects at MSI empowers students to choose the ones aligning with their
                        college aspirations. Our accomplished team of experienced teachers, many of whom are also IB examiners, ensures students are well-prepared for the exams, contributing to our impressive 100% DP results.
                      </p>
                      <p>
                        The DP program at our school is holistic, integrating academic studies with Core subjects such as Theory of Knowledge, Extended Essay, and Creativity, Activity, and Service.
                        Our students excel in these Core components, evident from the remarkable 33.33% achieving a perfect 3 points in the 2023 DP examination. This achievement reflects their adeptness
                        in applying approaches to learning skills. Engaging in meaningful service activities is a cornerstone of our DP program. Students participate in endeavors like medical camps in
                        rural Maharashtra, blood donation drives, year-long teaching programs, and book donation initiatives. Furthermore, students have access to extracurricular activities beyond teaching
                        hours, fostering a balanced growth.
                      </p>
                      <p>
                        Numerous leadership opportunities are available, including positions in the Student Council, Rotaract and Interact clubs, and event organization. This enables students to refine their
                        leadership abilities. Our exceptional career counseling team assists students throughout the college admission process, from profile building to university fairs and applications,
                        ensuring our students secure placements in prestigious institutions worldwide.
                      </p>
                      <p>
                        Guided by the IB's ethos, we cultivate internationally minded students dedicated to creating a harmonious world. Over my 15 years of experience, I've witnessed the remarkable transformation
                        of IB students into capable young adults who assume responsibility for their lives with grace. As the Diploma Programme Coordinator, I extend a warm invitation to students to join us for a
                        life-transforming experience at MLSI.
                      </p>
                    </div>                    
                </div>
            </div>
        </div>

        @*<div class="InsideBlock" id="PriyaAnand">
            <div class="InsideBlockBody">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="checklist">
                            <li>
                                <p class="strong">Post Graduate Diploma in International Business Operations (PGDIBO)</p>
                                Master of Commerce (M. Com)
                            </li>
                            <li>
                                <p class="strong">Teaching and Leadership experience</p>
                                International Baccalaureate (IB); IBEN; ICSE (CISCE); Ontario curriculum (Canadian); Cambridge (UK, CAIE)
                            </li>
                            <li>
                                <p class="strong">Certification in School Leadership</p>
                                Nation Builder (2021); Microsoft Innovative Educator (2020); Apple Teacher (2020)
                            </li>
                            <li>
                                <p class="strong">IB Certifications</p>
                                IB Programme Leader, IB Workshop Leader, IB Team Visit Leader, IB Examiner, IB Examination Site Inspector, IB Co-South Reader, Course Outline Reader
                            </li>
                            <li>
                                <p class="strong">Recognition and awards</p>
                                Change Maker Award (2020); International School Award for Leading the Integration (British Council, 2017); International School Award for Supporting the Integration of International Learning (British Council, 2017)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="AcademicTeamPhoto">
                            <a href="~/Images/Priya-Anand.jpg" data-fancybox>
                                <img src="~/Images/Priya-Anand.jpg" alt="" />
                            </a>
                            <h4>Priya Anand</h4>
                            <h5>
                                Head of School
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="InsideBlock" id="VishnuSharma">
            <div class="InsideBlockBody">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="AcademicTeamPhoto">
                            <a href="~/Images/Vishnu-Sharma.jpg" data-fancybox>
                                <img src="~/Images/Vishnu-Sharma.jpg" alt="" />
                            </a>
                            <h4>Vishnu Sharma</h4>
                            <h5>
                                Head of Secondary
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <ul class="checklist">
                            <li>
                                <p class="strong">Double Masters in Applied Biological Science</p>
                                University of Oxford, U.K., and Y. S. Parmar University, Solan
                            </li>
                            <li>
                                <p class="strong">Certification in School Leadership</p>
                                From IIM-A, and from Harvard Graduate School of Education, and Harvard Business School, Honorary Doctorate in Education
                            </li>
                            <li>
                                <p class="strong">Recognition and awards</p>
                                Times Education Icon Award (MLSI, 2017); World Bank Research fellowships; ICAR – Junior Research Fellowship; University Merit Scholarship; Commonwealth Scholarship
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="InsideBlock" id="BushraKhan">
            <div class="InsideBlockBody">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="checklist">
                            <li>
                                <p class="strong">Post-Graduation in Ancient Indian Culture</p>
                                Mumbai University
                            </li>
                            <li>
                                <p class="strong">Bachelor of Education</p>
                                Mumbai University
                            </li>
                            <li>
                                <p class="strong">Teaching and Leadership experience</p>
                                NSS Hill Spring International School, Mumbai; Bloomingdale International School, Vijayawada; Sophia College of Education, Mumbai
                            </li>
                            <li>
                                <p class="strong">Recognition and awards</p>
                                Times Excellence Award (Bloomingdale International School, 2019)
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="AcademicTeamPhoto">
                            <a href="~/Images/Bushra-Khan.jpg" data-fancybox>
                                <img src="~/Images/Bushra-Khan.jpg" alt="" />
                            </a>
                            <h4>Bushra Khan</h4>
                            <h5>
                                Head of Primary
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>




