
@{
    ViewBag.Title = "Sports_Infrastructure";
}

<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/Student_Life/Sports-Infra.jpg" alt="" class="img-fluid" />
    <div class="container">
        <div class="Topic">
            <!--<a href="#Sports_Infrastructure" class="scrollto">-->
            @*<h4>Sports Infrastructure</h4>*@
            <!--<p>
            Sports activities not only build character, but it also reveals it.
        </p>
    </a>-->
            <p>
                Sports activities not only build character, but it also reveals it.
            </p>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="InsideBlock" id="Sports_Infrastructure">
            <div class="InsideBlockHeader">
                Sports Infrastructure
            </div>
            <div class="InsideBlockBody">                
                Developing holistic skills and abilities is a major promise we have made to all parents. Squash, Basketball, Badminton, Table Tennis, Mini Soccer, Outdoor Play, and Aerial Silk are just a few of the sports available at Mount Litera School International. We have a state-of-the-art turf with premium artificial grass on campus. It provides a safe and reliable outdoor space for physical activity and sports. Our massive 45,000 square foot indoor sports arena brings out the best in our students' sportsmanship. This indoor play area is also used for performances and the display of student work. We also have indoor studios for Yoga, Gymnastics, and Dance, as well as Chess and Lego.
            </div>
        </div>
    </div>
</section>


