
@{
    ViewBag.Title = "The_IB_Programmes";
}

<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/Programmes/The_IB_Programme.jpg" alt="" class="img-fluid" />
    <div class="container">
        <div class="Topic">
            <!--<a href="#The_IB_Programmes" class="scrollto">-->
            @*<h4>The IB Programmes</h4>*@
            <!--<p>
            Students develop a holistic approach to knowledge, viewing the subjects they study as a whole.
        </p>
    </a>-->
            <p>
                Students develop a holistic approach to knowledge, viewing the subjects they study as a whole.
            </p>
            @*<a href="#The_IB_learner_profile" class="scrollto">
            <h4>The IB Learner profile</h4>
            <p>

                As IB learners we strive to be:
            </p>
        </a>*@
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="InsideBlock" id="The_IB_Programmes">
            <div class="InsideBlockHeader">
               <img src="~/Images/ib_world_school_logo_2_colour.png" alt="" width="50" height="50"/>&nbsp;&nbsp;The IB Programmes
            </div>
            <div class="InsideBlockBody">
                <p>
                    The following are the core principles of the IB programmes:
                </p><p>
                    Students’ own cultural experiences and backgrounds, and those of the teaching staff are a valuable learning resource; we encourage understanding through intercultural awareness in the IB programme courses.
                </p><p>
                    Students' communication skills are critical to their learning because they reflect and deepen understanding.
                </p><p>
                    The goal of all the IB programme subjects is to develop globally minded individuals who, by recognising their common humanity and shared stewardship of the planet, contribute to the creation of a better and more peaceful world.
                </p>
            </div>
        </div>
        <div class="InsideBlock" id="The_IB_learner_profile">
            <div class="InsideBlockHeader">
                The IB learner profile
            </div>
            <div class="InsideBlockBody">
                <p class="strong black">
                    As IB learners we strive to be:
                </p>
                <ul class="checklist">
                    <li>
                        <p class="strong black">
                            Inquirers:
                        </p>
                        We inculcate our curiosity by gaining knowledge through research. We recognise how to learn both independently and collaboratively. We learn enthusiastically and continue to enjoy learning throughout our lives.
                    </li>
                    <li>
                        <p class="strong black">
                            Knowledgeable:
                        </p>
                        We develop and apply conceptual understanding while exploring knowledge from various disciplines. We work on issues and ideas that have an impact on both local and global level.
                    </li>
                    <li>
                        <p class="strong black">
                            Reflective:
                        </p>
                        We take into account the world as well as our own ideas and experiences. In order to encourage our learning and personal and professional development, we work to understand our own strengths and weaknesses.
                    </li>
                    <li>
                        <p class="strong black">
                            Thinkers:
                        </p>
                        We use critical and creative thinking skills to analyse and solve complex problems. We take the initiative to make rational and ethical decisions.
                    </li>
                    <li>
                        <p class="strong black">
                            Communicators:
                        </p>
                        We express ourselves confidently and creatively in multiple languages and in a variety of ways. We work well together, paying close attention to the perspectives of other individuals and groups.
                    </li>
                    <li>
                        <p class="strong black">
                            Principled:
                        </p>
                        We act with integrity and honesty, a strong sense of fairness and justice, and a deep respect for the dignity and rights of all people. We accept responsibility for our actions and the consequences of those actions.
                    </li>
                    <li>
                        <p class="strong black">
                            Open-minded:
                        </p>
                        We value our own cultures and personal histories, as well as other people's values and traditions. We seek and evaluate a variety of points of view, and we are eager to learn from our experiences.
                    </li>
                    <li>
                        <p class="strong black">
                            Caring:
                        </p>
                        We assert empathy, compassion, and respect. We are committed to helping others and making a positive impact on the lives of others and the world around us.
                    </li>
                    <li>
                        <p class="strong black">
                            Risk-takers:
                        </p>
                        We approach uncertainty with planning and determination, working both independently and collaboratively to explore new ideas and innovative strategies. In the face of adversity and change, we are resourceful and resilient.
                    </li>
                    <li>
                        <p class="strong black">
                            Balanced:
                        </p>
                        We recognise the value of balancing various aspects of our lives—intellectual, physical, and emotional—in order to achieve well-being for ourselves and others. We acknowledge our interdependence with other people and the environment in which we live.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

