
@{
    ViewBag.Title = "VideoGallery";
}
@*<div class="InsideBanner">
    <img src="~/Images/InnsideBanner/InnsideBanner.jpg" alt="" class="img-fluid" />
</div>*@
<section>
    <div class="container" id="VideoGallery">
        <div class="pageheading">
            <h1>
                Video gallery
            </h1>
        </div>
        <div class="row">
            @*<div class="col-md-6">
                <h2> Rhapsody 2023 </h2>
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/cXpJr-Ya7E8?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/9BGs5ujHoeI/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/TFqM_7zgp8M?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/TFqM_7zgp8M/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/5VeZUXfjcnI?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/5VeZUXfjcnI/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/7d5Q9Lqxylk?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/7d5Q9Lqxylk/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/OcICJRzizeI?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/OcICJRzizeI/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/FKEdntob8Lw?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/FKEdntob8Lw/hqdefault.jpg" alt="" />
            </a>
        </div>*@
            @*<div class="col-md-6">
            <div class="span6"><iframe src="https://www.youtube.com/embed/EYKl1to4E_A" width="100%" height="415" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
        </div>*@
            <div class="col-md-6">
                <h5> Rhapsody 2023 </h5>
                <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/cXpJr-Ya7E8?autoplay=1&amp;rel=0" data-transition-effect="tube">
                    <i class="fa fa-play"></i>
                    <img src="~/Images/youTube_img/Rhapsody_2023.JPG" alt="" />
                </a>
            </div>
            <div class="col-md-6">
                <h4> First Day Of school 2023 </h4>
                <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/-qpZTWOKyf0?autoplay=1&amp;rel=0" data-transition-effect="tube">
                    <i class="fa fa-play"></i>
                    <img src="~/Images/youTube_img/First_Day_Of_school_2023.JPG" alt="" />
                </a>
            </div>

            <div class="col-12">
                <h4 class="text-center" style="text-decoration:underline">Graduation Ceremony </h4>
            </div>

            <div class="col-md-6 mt-3">
                <h5>  DP Class of 2023  </h5>
                <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/vbho_7XJ1SM?autoplay=1&amp;rel=0" data-transition-effect="tube">
                    <i class="fa fa-play"></i>
                    <img src="~/Images/youTube_img/DP_Class_of_2023.JPG" alt="" />
                </a>
            </div>
            <div class="col-md-6 mt-3">
                <h5>PYP 5 Class of 2023 </h5>
                <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/3pGTHxJJv3U?autoplay=1&amp;rel=0" data-transition-effect="tube">
                    <i class="fa fa-play"></i>
                    <img src="~/Images/youTube_img/PYP_5_ClassOf_2023.JPG" alt="" />
                </a>
            </div>

            <div class="col-md-6 mt-3">
                <h5> EY Class of 2023 </h5>
                <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/gWIY4wdevTk?autoplay=1&amp;rel=0" data-transition-effect="tube">
                    <i class="fa fa-play"></i>
                    <img src="~/Images/youTube_img/EY_Classof_2023.JPG" alt="" />
                </a>
            </div>
            <div class="col-md-6 mt-3">
              
            </div>
            <div class="col-12">
                <h4 class="text-center" style="text-decoration:underline">Sports Day</h4>
            </div>

            <div class="col-md-6 mt-3">
                <h5> DP, MYP & PYP 5 Sport Day 2023 </h5>
                <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/3MDJanL5E9U?autoplay=1&amp;rel=0" data-transition-effect="tube">
                    <i class="fa fa-play"></i>
                    <img src="~/Images/youTube_img/DP_MYP_PYP_5_SportDay_2023.JPG" alt="" />
                </a>
            </div>
            <div class="col-md-6">
                <h5> Playgroup - EY 2 Sports Day 2023</h5>
                <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/2_mnKLfQ9yY?autoplay=1&amp;rel=0" data-transition-effect="tube">
                    <i class="fa fa-play"></i>
                    <img src="~/Images/youTube_img/Playgroup_EY2_Sports_Day_2023.JPG" alt="" />
                </a>
            </div>
            <div class="col-md-6">
                <h5> EY 3 & PYP 1 to PYP 4 Sports Day 2023</h5>
                <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/5EbmAJN3XEg?autoplay=1&amp;rel=0" data-transition-effect="tube">
                    <i class="fa fa-play"></i>
                    <img src="~/Images/youTube_img/PYP_4_SportsDay_2023.JPG" alt="" />
                </a>
            </div>
            @*<div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/hXa8JKvooVY?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/hXa8JKvooVY/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/a4gvAk6jLdE?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/a4gvAk6jLdE/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/CXChH0W1lEs?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/CXChH0W1lEs/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/gs9uHtsDhog?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/gs9uHtsDhog/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/7_gIVJXaW4Y?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/7_gIVJXaW4Y/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/68wK5qruhJ8?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/68wK5qruhJ8/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/JpOMYgODruo?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/JpOMYgODruo/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/bqqmlZqGDsU?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/bqqmlZqGDsU/hqdefault.jpg" alt="" />
            </a>
        </div>*@
            @*<div class="col-md-6">
          <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/EYKl1to4E_A?autoplay=1&amp;rel=0" data-transition-effect="tube">
            <i class="fa fa-play"></i>
            <img src="https://i.ytimg.com/vi/EYKl1to4E_A/hqdefault.jpg" alt="" />
          </a>
        </div>*@
            @*<div class="col-md-6">
          <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/iV8_AZOZXBs?autoplay=1&amp;rel=0" data-transition-effect="tube">
            <i class="fa fa-play"></i>
            <img src="https://i.ytimg.com/vi/iV8_AZOZXBs/hqdefault.jpg" alt="" />
          </a>
        </div>*@
            @*<div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/pfrdBXnjDPI?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/pfrdBXnjDPI/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/QYGAdnXh6ng?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/QYGAdnXh6ng/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/2W5OQMdIBtg?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/2W5OQMdIBtg/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/SQ7BrFlHfDA?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/SQ7BrFlHfDA/hqdefault.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-fancybox="Videogallery" href="https://www.youtube.com/embed/MaZ60EVjZGs?autoplay=1&amp;rel=0" data-transition-effect="tube">
                <i class="fa fa-play"></i>
                <img src="https://i.ytimg.com/vi/MaZ60EVjZGs/hqdefault.jpg" alt="" />
            </a>
        </div>*@
            <!--<div class="col-md-6">-->
            @*https://youtu.be/VihmL_bprwg?si=epki59EcG64_mPQq*@
            <!--<a data-fancybox="Videogallery" href="https://www.youtube.com/embed/VihmL_bprwg?autoplay=1&amp;rel=0" data-transition-effect="tube">
            <i class="fa fa-play"></i>
            <img src="https://i.ytimg.com/vi/VihmL_bprwg/hqdefault.jpg" alt="" />
        </a>
    </div>
    <div class="col-md-6">
        <a data-fancybox="Videogallery" href="https://youtu.be/-qpZTWOKyf0?si=8nbH3jaJSOsS4cuy?autoplay=1&amp;rel=0" data-transition-effect="tube">
            <i class="fa fa-play"></i>
            <img src="https://i.ytimg.com/vi/-qpZTWOKyf0/hqdefault.jpg" alt="" />
        </a>
    </div>-->
        </div>
    </div>
</section>
